<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.educoder.core.persistence.mapper.EduChallengeInstanceMapper" >
  <resultMap id="BaseResultMap" type="net.educoder.core.persistence.beans.EduChallengeInstance" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="challenge_id" property="challengeId" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="state" property="state" jdbcType="BIT" />
    <result column="explain_state" property="explainState" jdbcType="BIT" />
    <result column="explain_position" property="explainPosition" jdbcType="INTEGER" />
    <result column="practice_state" property="practiceState" jdbcType="BIT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from edu_challenge_instance
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="net.educoder.core.persistence.beans.EduChallengeInstance" >
    insert into edu_challenge_instance (id, challenge_id, user_id, 
      state, explain_state, explain_position, 
      practice_state, create_time, update_time
      )
    values (#{id,jdbcType=BIGINT}, #{challengeId,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, 
      #{state,jdbcType=BIT}, #{explainState,jdbcType=BIT}, #{explainPosition,jdbcType=INTEGER}, 
      #{practiceState,jdbcType=BIT}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="net.educoder.core.persistence.beans.EduChallengeInstance" >
    update edu_challenge_instance
    set challenge_id = #{challengeId,jdbcType=BIGINT},
      user_id = #{userId,jdbcType=BIGINT},
      state = #{state,jdbcType=BIT},
      explain_state = #{explainState,jdbcType=BIT},
      explain_position = #{explainPosition,jdbcType=INTEGER},
      practice_state = #{practiceState,jdbcType=BIT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select id, challenge_id, user_id, state, explain_state, explain_position, practice_state, 
    create_time, update_time
    from edu_challenge_instance
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, challenge_id, user_id, state, explain_state, explain_position, practice_state, 
    create_time, update_time
    from edu_challenge_instance
  </select>
</mapper>